@model Client.ViewModels.RegisterVM

@{
    Layout = null;
}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Register</title>
      
      <link rel="stylesheet" href="~/assets/css/backend.css?v=1.0.0">
      
  </head>
  <body class=" ">
    <!-- loader END -->
    
      <div class="wrapper">
      <section class="login-content">
         <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">
               <div class="col-lg-8">
                  <div class="card auth-card">
                     <div class="card-body p-0">
                        <div class="d-flex align-items-center auth-content">
                           <div class="col-lg-6 bg-primary content-left">
                              <div class="p-3">
                                 <h2 class="mb-2 text-white">Sign Up</h2>
                                 <p>Create your Webkit account.</p>
                                 <form>
                                    <div class="row">
                                        <div class="col-lg-6" hidden>
                                          <div class="floating-label form-group">
                                               <label asp-for="Guid" class="control-label"></label>
                                                <input asp-for="Guid" class="floating-input form-control" value ="0" type="text" placeholder=" "/>
                                                <span asp-validation-for="Guid" class="text-danger"></span>
                                             <label>Guid</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input class="floating-input form-control" type="text" placeholder=" ">
                                             <label>Full Name</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                                <input asp-for="NIK" class="floating-input form-control" type="text" placeholder=" " />
                                             <label>NIK</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                              <input asp-for="Email" class="floating-input form-control" type="text" placeholder=" "/>
                                             <label>Email</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input asp-for="Gender" class="floating-input form-control" type="text" placeholder=" " />
                                             <label>Gender</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input asp-for="PhoneNumber" class="floating-input form-control" type="text" placeholder=" " />
                                             <label>PhoneNumber</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input asp-for="HiringDate" class="floating-input form-control" type="text" placeholder=" " />
                                             <label>HiringDate</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6" hidden>
                                          <div class="floating-label form-group">
                                             <input asp-for="ManagerID" class="floating-input form-control" type="text" placeholder=" " />
                                             <label>ManagerID</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input asp-for="Password" class="floating-input form-control" type="password" placeholder=" ">
                                             <label>Password</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="floating-label form-group">
                                             <input asp-for="ConfirmPassword" class="floating-input form-control" type="password" placeholder=" ">
                                             <label>ConfirmPassword</label>
                                          </div>
                                       </div>
                                       <div class="col-lg-12">
                                          <div class="custom-control custom-checkbox mb-3">
                                             <input type="checkbox" class="custom-control-input" id="customCheck1">
                                             <label class="custom-control-label text-white" for="customCheck1">I agree with the terms of use</label>
                                          </div>
                                       </div>
                                    </div>
                                    <button type="submit" class="btn btn-white">Sign Up</button>
                                    <p class="mt-3">
                                       Already have an Account <a asp-controller="Home" asp-action="Login" class="text-white text-underline">Sign In</a>
                                    </p>
                                 </form>
                              </div>
                           </div>
                           <div class="col-lg-6 content-right">
                              <img src="~/assets/images/login/01.png" class="img-fluid image-right" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
    
  </body>
</html>